body {
    background-color: darkgray;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cat-attributes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
.box {
    border: 1px solid black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    text-align: center;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.cat-button-contaiiner{
    display: flex;
}

.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: 200px;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}

.ban-list-container{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    background-color: lightgrey;
    width: 800px;
}

.banned {
    border: 1px solid black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    text-align: center;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }